/* $colors */

/* color background et text for header, footer 
  et la section prochainement */
$mint: #579c87;
$gold: #fdcb46;


/* *************************************************************
 * Declaration de Variables pour le fichier "accueil.scss"  
 ************************************************************* */
/* color du box-shadow des 4 menus */
$color-box-shadow: #ededed;

/* différents couleurs degradés des titres h2 */
$degrade-note-enchantee: to right, #f15861, #f78f6a;
$degrade-chic-francaise: 160deg, #d8852e 30%, #8f5aff 70%;
$degrade-delice-papilles: to right, #0235e1, #0889fb;
$degrade-palette-gout: to right, #499c40, #beff7f;


/* **************************************************************************
 * Declaration de Variables pour les fichiers "accueil.scss" et "menu.scss"  
 ************************************************************************* */
 $bg-color-menu01: #fcdfdb;
 $bg-color-menu02: #fff5fe;
 $bg-color-menu03-accueil: #f9f9f9;
 $bg-color-menu03: #edefef;
 $bg-color-menu04: #fdfffd;

  /* ****************************************
  * Colors for word "menu"
  **************************************** */
$brown-menu02-accueil: #c77412;
$blue-menu03-accueil: #0887fb;
$green-menu04-accueil: #72bf56;

  /* ****************************************
  * Balise span for effet de soulignement
  **************************************** */
 $red-underline: rgba(255, 0, 0, 0.5);
 $light-brown-menu02: #c67412;
 $light-purple-menu02: #a56799;
 $dark-purple-menu02: #6e4ccc;
 $dark-blue-menu03: #0228dd;
 $middle-blue-menu03: #0670f3; 
 $light-blue-menu03: #229df9;
 $dark-green-menu04: #499c40;
 $middle-green-menu04: #72bf56;
 $light-green-menu04: #beff7f;


 /* *********************************************
 * Declaration de Variables Espacement
 * padding left and right for h3
 ********************************************* */
 $padding01: 10px;
 $padding02: 20px;
 $padding03: 30px;
 $padding035: 35px;
 $padding04: 40px;
 $padding05: 60px;
