/* $colors */

/* color background et text for header, footer 
  et la section prochainement */
$mint-background-color: #579c87;
$gold-text-color: #fdcb46;


/* *************************************************************
 * Declaration de Variables pour le fichier "accueil.scss"  
 ************************************************************* */
/* color du box-shadow des 4 menus */
$color-box-shadow: #ededed;

/* différents couleurs degradés des titres h2 */
$degrade-note-enchantee: to right, #f15861, #f78f6a;
$degrade-chic-franaise: 160deg, #d8852e 30%, #8f5aff 70%;
$degrade-delice-papilles: to right, #0235e1, #0889fb;
$degrade-palette-gout: to right, #499c40, #beff7f;


/* *************************************************************
 * Declaration de Variables pour le fichier "menu01.scss"  
 ************************************************************* */
 $background-color-menu01: #fcdfdb;