/* $colors */

/* color background et text for header, footer 
  et la section prochainement */
$mint: #579c87;
$gold: #fdcb46;


/* *************************************************************
 * Declaration de Variables pour le fichier "accueil.scss"  
 ************************************************************* */
/* color du box-shadow des 4 menus */
$color-box-shadow: #ededed;

/* différents couleurs degradés des titres h2 */
$degrade-note-enchantee: to right, #f15861, #f78f6a;
$degrade-chic-francaise: 160deg, #d8852e 30%, #8f5aff 70%;
$degrade-delice-papilles: to right, #0235e1, #0889fb;
$degrade-palette-gout: to right, #499c40, #beff7f;


/* *************************************************************
 * Declaration de Variables pour les fichiers "menu.scss"  
 ************************************************************* */
 $bg-color-menu01: #fcdfdb;
 $bg-color-menu02: #fff5fe;
 $bg-color-menu03: #edefef;
 $bg-color-menu04: #fdfffd;


 $red-underline: rgba(255, 0, 0, 0.5);
 $light-brown-menu02: #c67412;
 $light-purple-menu02: #a56799;
 $dark-purple-menu02: #6e4ccc;
 $dark-blue-menu03: #0228dd;
 $middle-blue-menu03: #0670f3;
 $light-blue-menu03: #229df9;
 $dark-green-menu04: #499c40;
 $light-green-menu04: #beff7f;


 /* *********************************************
 * Declaration de Variables Espacement
 * padding left and right for h3
 ********************************************* */
 $padding01: 10px;
 $padding02: 20px;
 $padding03: 30px;
 $padding035: 35px;
 $padding04: 40px;
 $padding05: 60px;


 /* ***********************************************
  * Balise span for effet de soulignement
  *********************************************** */
  /* colors for menu01.scss */
  $red-opak: to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 4px, transparent 5px;

  /* colors for menu02.scss */
  $light-brown-top: to top, #c67412 0%, #c67412 4px, transparent 5px;
  $light-purple-top: to top, #a56799 0%, #a56799 4px, transparent 5px;
  $dark-purple-top: to top, #6e4ccc 0%, #6e4ccc 4px, transparent 5px;

  /* colors for menu03.scss */
  $dark-blue-top: to top, #0228dd 0%, #0228dd 4px, transparent 5px;
  $middle-blue-top: to top, #0670f3 0%, #0670f3 4px, transparent 5px; 
  $light-blue-top: to top, #229df9 0%, #229df9 4px, transparent 5px;
  
  /* colors for menu04.scss */
  $green-top: to top, #beff7f 0%, #beff7f 4px, transparent 5px;

