
/* Position tout en haut : header 
    Avec le code ci-dessus ( * {... } 
    Pas besoin de positionner le header tout en haut 
    avec le code ci-dessous
    header { ... } */
/*header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
} */

header,
.prochainement,
footer {
    /*
    background-color: #00897B;
    color: gold; */
    background-color: #579c87;
    color: #fdcb46;
}

header {
    text-align: center;
    padding: 20px 0;
    @include font-Aktiv-Grotesk-Medium;
    font-size: 25px;
    letter-spacing: -2px;
}

