@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../base/typography';


/* *************************************************
 *  Fichier Accueil.scss
 ************************************************ */

@mixin box-shadow-around-boxmenu {
    /* box-shadow: 0px 0px 10px #e91414, 
    0px 0px 20px #e91414,
    0px 0px 30px #e91414,
    0px 0px 40px #e91414; */
    box-shadow: inset 0px 0px 5px #ededed,
        0px 0px 10px #ededed,
        0px 0px 20px #ededed,
        0px 0px 30px #ededed;
}

/* *************************************************
 * Position div class container 
 ************************************************ */
.container {
    width: 1000px;
    padding: 20px;
    margin: 0 auto;

    & .nav {
        @include flex-center;
        flex-wrap: wrap;
    }
}

/* *********************************************
 * div class="box"___Generalites
 ********************************************* */
.box {
    /* border: 3px solid #455A64; */
    width: 300px;
    height: 400px;
    margin: 30px;
    /*
    display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;

    @include box-shadow-around-boxmenu;

    &>.content {
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: all .8s linear;

        @include flex-center;

        &:hover {
            transform: scale(1.5);
            opacity: .6;
        }

        & .effect-color-text {
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        /* Pour le titre "menu" avec la balise h3 

        h3,
        :is(article, aside, nav, section) :is(article, aside, nav, section) h1 {
            display: block;
            font-size: 1.17em;
            font-weight: bold;
            margin-block-start: 1em;
            margin-block-end: 1em;
        } */

        /* Faire en sorte que la balise h3 
         * ressemble à peu près au niveau :
         * taille du font ET son positionnement
         * aux caractéristiques initiales de la balise h1 
        */

        /* Pour le titre "menu" avec la balise h1
         * Propriétés css initiales de la balise h1
         * origine mozilla firefox

        .container .nav .box .content h1 {
            padding-top: 20px;
        }
        
        h1 {
            display: block;
            font-size: 2em;
            font-weight: bold;
            margin-block-start: .67em;
            margin-block-end: .67em;
        }
        */
        & h3 {
            padding-top: 20px;
            font-size: 2em;
            font-weight: bold;
        }

        & a {
            text-decoration: none;
        }
    }
}


/* ****************************************************
 * div class="note-enchantee"
 ***************************************************** */
.note-enchantee {
    background-color: $bg-color-menu01;
    color: #3c1218;

    & i {
        background: linear-gradient($degrade-note-enchantee);
        margin-bottom: 5px;
        font-size: 40px;
    }

    & .no-effect {
        @include font-ccsignlanguage;
    }

    & .link-menu01 {
        color: #3c1218;
        text-transform: uppercase;
        @include font-montag;
    }
}


/* ****************************************************
 * div class="chic-francaise"
 ***************************************************** */
.chic-francaise {
    background-color: $bg-color-menu02;

    & h2 {
        /*background: linear-gradient(to bottom right, #d8852e 30%, #8f5aff 70%); */
        background: linear-gradient($degrade-chic-francaise);
        font-family: 'Croissant One', cursive;
        font-size: 20px;
    }

    & .link-menu02 {
        color: #c77412;
        font-family: casus, questa, serif;
        font-style: normal;
    }
}


/* ****************************************************
 * div class="delice-papilles"
 ***************************************************** */
.delice-papilles {
    background-color: $bg-color-menu03-accueil;

    & h2 {
        background: linear-gradient($degrade-delice-papilles);
        //font-family: 'Parisienne', cursive;
        @include font-alana-regular;
    }

    & .link-menu03 {
        color: #0887fb;
        font-family: 'SegoePrint';
    }

}


/* ****************************************************
 * div class="palette-gout"
 ***************************************************** */
.palette-gout {
    background-color: $bg-color-menu04;

    & h2 {
        background: linear-gradient($degrade-palette-gout);
        font-family: 'kaushan_scriptregular';
    }

    & .link-menu04 {
        color: $middle-green-menu04;
        font-family: 'SegoePrint';
    }
}


/* **********************************************************
 * div class="prochainement"
 ********************************************************** */
.prochainement {
    margin: auto;
    padding: 5px 0;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    font-size: 25px;
    
    @include font-montserrat-medium;
    @include flex-center;

    & p {
        padding-right: 10px;
    }

    & span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: $gold;
        margin: 0 10px;

        -webkit-animation: dottedPreloader 1s linear infinite alternate;
        -moz-animation: dottedPreloader 1s linear infinite alternate;
        animation: dottedPreloader 1s linear infinite alternate;

        &:nth-child(1) {
            animation-delay: -0.8s;
        }

        &:nth-child(2) {
            animation-delay: -0.5s;
        }

        &:nth-child(6) {
            animation-delay: -0.2s;
        }
    }
}


