@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../base/reset-body';
@import '../base/typography';
@import '../components/animations';
@import '../layout/footer';
@import '../layout/header';

/* *************************************************
 * Position div class container 
 ************************************************ */
h2 {
    text-align: center;
}

.little {
    & h2 {
        /* padding: Haut Gauche Bas Droite */
        padding: 50px 0 20px 0;
        @include font-Aktiv-Grotesk-Bold;
    }
}

.container {
    @include flex-center;

    & .menu {
        padding: 50px;
        background-color: $bg-color-menu01;

        & .title {
            text-align: center;
            padding-bottom: 20px;

            & i {
                font-size: 60px;
                /* Dégradé color : #f05561 puis #f6916a */
                background: linear-gradient(to right, #f15861, #f78f6a);
                @include background-text;
                padding-bottom: 10px;
            }

            & h2 {
                @include font-ccsignlanguage;
                font-size: 35px;
            }
        }

        & .pied {
            padding-top: $padding03;
            @include flex-center;
        }
    }
}


/* ****************************************************
 * Tous les div class="submenu" ( 01, 02 et 03 )
 ***************************************************** */
.submenu-origin {
    width: 600px;
    height: 5px;
    /* margin: Haut-Bas px Gauche-Droite px */
    margin: 32px auto;
    @include flex-center;
    background-color: #000;

    & h3 {
        background-color: $bg-color-menu01;
        font-size: 20px;
        /* font-family: Uberhand Pro Medium __ font-weight: 500 */
        /*font-family: ff-uberhand-pro, sans-serif;
        font-weight: 500;
        font-style: normal; */
        /* font-family: Uberhand Pro Bold __ font-weight: 700 */
        /*font-family: ff-uberhand-pro, sans-serif;
        font-weight: 700;
        font-style: normal; */
        font-family: 'SegoePrint';
        font-weight: bold;
    }

    & span {
        /* Propriété 01 : */
        background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 4px, transparent 5px) no-repeat;
        /* Propriété 02 : 
     * background-size : XX largeur XX hauteur;
     * background-size GAIT DISPARAITRE le background linear-gradient */
        background-size: 0 100%;
        /* Etape 04 : */
        transition: background-size .3s;

        &:hover {
            background-size: 100% 100%;
        }
    }
}
.submenu01 {

    & h3 {
        padding-left: $padding05;
        padding-right: $padding05;
    }

}

.submenu02 {

    & h3 {
        padding-left: $padding04;
        padding-right: $padding04;
    }

}

.submenu03 {

    & h3 {
        padding-left: $padding02;
        padding-right: $padding02;
    }

}

/* **************************************************************************
 * div class container > div class menu > div class liste > div class repas
 ************************************************************************* */
.repas {
    @include repas;

    & .name {
        /* font-family: Shadows Into Light Regular; */
        /*
        font-family: shadows-into-light, wordy-diva, sans-serif;
        font-weight: 500;
        font-style: normal; */
        font-family: 'SegoePrint';
    }

    & .price {
        font-family: 'SegoePrint';
        font-weight: bold;
    }
}

/* 
 * div class pied
 */
.pied {

    & i {
        background: linear-gradient(to right, #f15861, #f78f6a);
        @include background-text;
        font-size: 50px;
    }

    & h2 {
        margin-left: 10px;
        @include font-ccsignlanguage;
        font-size: 30px;
    }
}
