@charset "UTF-8";
/* @import must be at top of file, otherwise CSS will not work 
 * pour font-family: SegoePrint */
@import url("//hello.myfonts.net/count/3bf52d");
* {
  /* Enlever Padding ET Margin */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 175vh;
}

/* Position tout en haut : header 
    Avec le code ci-dessus ( * {... } 
    Pas besoin de positionner le header tout en haut 
    avec le code ci-dessous
    header { ... } */
/*header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
} */
/* Position tout en bas : footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

header,
footer {
  background-color: #579c87;
  color: #fdcb46;
}

header {
  text-align: center;
  padding: 20px 0;
  /* Recherche de Fonts Police provenant de l'image "menu-1b.png"
   * du site : https://fonts.adobe.com/
   */
  /* Aktiv Grotesk Medium */
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  letter-spacing: -2px;
}

/* segoe print pour les titres "menu" 
 * de "Le délice des papilles" ET "La palette du gout" */
@font-face {
  font-family: "SegoePrint";
  src: url("../../fonts_police/MyFontsWebfontsKit/webFonts/SegoePrint/font.woff2") format("woff2"), url("../../fonts_police/MyFontsWebfontsKit/webFonts/SegoePrint/font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* *************************************************
 * Position div class container 
 ************************************************ */
h2 {
  text-align: center;
  /* padding: Haut Gauche Bas Droite */
  padding: 50px 0 20px 0;
}

.little h2 {
  /* padding: Haut Gauche Bas Droite */
  padding: 50px 0 20px 0;
  /* Recherche de Fonts Police provenant de l'image "menu-1b.png"
   * du site : https://fonts.adobe.com/
   */
  /* Aktiv Grotesk Bold */
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .menu {
  /* padding: Haut Gauche Bas Droite */
  padding: 20px 25px 150px 25px;
  /*
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 150px;*/
  background-color: #edefef;
  font-family: "SegoePrint";
}
.container .menu .title {
  text-align: center;
  padding-bottom: 20px;
  background: linear-gradient(to right, #0235e1, #0889fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Parisienne", cursive;
  /* Recherche de Fonts Police provenant de l'image "menu-1b.png"
   * du site : https://fonts.adobe.com/
   */
  /* alana bold */
  /*
  font-family: alana, sans-serif;
  font-weight: 700;
  font-style: normal; */
  /* alana regular */
  /*font-family: alana, sans-serif;
  font-weight: 400;
  font-style: normal; */
  font-size: 45px;
}

.container > .nav > .note-enchantee h2 {
  color: greenyellow;
}
.container > .nav > .note-enchantee h2:hover {
  color: hotpink;
}

/* ****************************************************
 * Tous les div class="submenu" ( 01, 02 et 03 )
 ***************************************************** */
.submenu01 {
  margin: 32px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submenu01 .bord-left {
  width: 220px;
  height: 5px;
  padding: 5px;
  /* Arrondir bordure Gauche Bas */
  border-bottom-left-radius: 20px 1em;
  box-shadow: 0 5px 0 #0228dd;
  position: relative;
}
.submenu01 .bord-left:after {
  content: "";
  position: absolute;
  top: 9px;
  right: -5px;
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #0228dd;
}
.submenu01 h3 {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #edefef;
  font-size: 20px;
  font-weight: normal;
}
.submenu01 span {
  /* Propriété 01 : */
  background: linear-gradient(to top, #0228dd 0%, #0228dd 4px, transparent 5px) no-repeat;
  /* Propriété 02 : 
  * background-size : XX largeur XX hauteur;
  * background-size GAIT DISPARAITRE le background linear-gradient */
  background-size: 0 100%;
  /* Etape 04 : */
  transition: background-size 0.3s;
}
.submenu01 span:hover {
  background-size: 100% 100%;
}
.submenu01 .bord-right {
  width: 220px;
  height: 5px;
  padding: 5px;
  /* Arrondir bordure Gauche Bas */
  border-bottom-right-radius: 20px 1em;
  box-shadow: 0 5px 0 #0228dd;
  position: relative;
}
.submenu01 .bord-right:before {
  content: "";
  position: absolute;
  top: 9px;
  left: -5px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-bottom: 6px solid #0228dd;
}

.submenu02 {
  margin: 32px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submenu02 .bord-left {
  width: 220px;
  height: 5px;
  padding: 5px;
  /* Arrondir bordure Gauche Bas */
  border-bottom-left-radius: 20px 1em;
  box-shadow: 0 5px 0 #0670f3;
  position: relative;
}
.submenu02 .bord-left:after {
  content: "";
  position: absolute;
  top: 9px;
  right: -5px;
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #0670f3;
}
.submenu02 h3 {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #edefef;
  font-size: 20px;
  font-weight: normal;
}
.submenu02 span {
  /* Propriété 01 : */
  background: linear-gradient(to top, #0670f3 0%, #0670f3 4px, transparent 5px) no-repeat;
  /* Propriété 02 : 
  * background-size : XX largeur XX hauteur;
  * background-size GAIT DISPARAITRE le background linear-gradient */
  background-size: 0 100%;
  /* Etape 04 : */
  transition: background-size 0.3s;
}
.submenu02 span:hover {
  background-size: 100% 100%;
}
.submenu02 .bord-right {
  width: 220px;
  height: 5px;
  padding: 5px;
  /* Arrondir bordure Gauche Bas */
  border-bottom-right-radius: 20px 1em;
  box-shadow: 0 5px 0 #0670f3;
  position: relative;
}
.submenu02 .bord-right:before {
  content: "";
  position: absolute;
  top: 9px;
  left: -5px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-bottom: 6px solid #0670f3;
}

.submenu03 {
  margin: 32px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submenu03 .bord-left {
  width: 220px;
  height: 5px;
  padding: 5px;
  /* Arrondir bordure Gauche Bas */
  border-bottom-left-radius: 20px 1em;
  box-shadow: 0 5px 0 #229df9;
  position: relative;
}
.submenu03 .bord-left:after {
  content: "";
  position: absolute;
  top: 9px;
  right: -5px;
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #229df9;
}
.submenu03 h3 {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #edefef;
  font-size: 20px;
  font-weight: normal;
}
.submenu03 span {
  /* Propriété 01 : */
  background: linear-gradient(to top, #229df9 0%, #229df9 4px, transparent 5px) no-repeat;
  /* Propriété 02 : 
  * background-size : XX largeur XX hauteur;
  * background-size GAIT DISPARAITRE le background linear-gradient */
  background-size: 0 100%;
  /* Etape 04 : */
  transition: background-size 0.3s;
}
.submenu03 span:hover {
  background-size: 100% 100%;
}
.submenu03 .bord-right {
  width: 220px;
  height: 5px;
  padding: 5px;
  /* Arrondir bordure Gauche Bas */
  border-bottom-right-radius: 20px 1em;
  box-shadow: 0 5px 0 #229df9;
  position: relative;
}
.submenu03 .bord-right:before {
  content: "";
  position: absolute;
  top: 9px;
  left: -5px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-bottom: 6px solid #229df9;
}

.liste {
  /* padding: Haut Gauche Bas Droite */
  /* padding: 0px 50px 0px 50px; */
  /* ou */
  /* padding: Haut-Bas  Gauche-Droite */
  padding: 0px 70px;
}

/* **************************************************************************
 * div class container > div class menu > div class liste > div class repas
 ************************************************************************* */
.repas {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.repas .price {
  margin-left: 5px;
  margin-top: -5px;
  font-size: 18px;
  font-weight: bold;
}

/* ***********************************************************
 * footer > div class="mentions" 
 * AND
 * footer > div class="contact" 
 *********************************************************** */
footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  font-size: 20px;
}
footer a {
  color: #fdcb46;
  text-decoration: none;
  font-weight: bold;
}

/*# sourceMappingURL=menu03.css.map */
