/* ************************************
 * Fichier menu02-min.scss
 ************************************ */
 /* **********************************************
 * div class="container-all-menu" > div class="menu02"
 ************************************************* */
.menu02 {
    background-color: $bg-color-menu02;

    .title-menu02 {
        padding-bottom: 30px;
        /*background: linear-gradient(to bottom right, #d8852e 30%, #8f5aff 70%); */
        background: linear-gradient($degrade-chic-francaise);
        @include background-text;
        font-family: 'Croissant One', cursive;
        font-size: 22px;
    }

}


/* ****************************************************
 * Tous les div class="submenu" ( 01, 02 et 03 )
 ***************************************************** */
.submenu-origin-menu02 {

    .bord-left {
        width: 0px;
        height: 0px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;

        position: relative;
        right: 15px;

        &:before {
            content: "";
            display: block;
            width: 0px;
            height: 0px;
            position: absolute;
            top: -5px;
            left: 160px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }
    }

    h3 {
        background-color: $bg-color-menu02;
        font-size: 20px;
        @include font-baltica;
    }

    .bord-right {
        /*
        width: 180px;
        height: 2px;
        background-color: #c67412; */
        width: 0px;
        height: 0px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;

        position: relative;
        left: 15px;

        &:after {
            content: "";
            display: block;
            width: 0px;
            height: 0px;
            position: absolute;
            top: -5px;
            right: 160px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }
    }
}

.submenu01-menu02 {

    .bord-left {
        border-right: 160px solid $light-brown-menu02;

        &:before {
            border-left: 20px solid $light-brown-menu02;
        }
    }

    h3 {
        padding-left: $padding01;
        padding-right: $padding01;
        color: $light-brown-menu02;
    }

    span {
        /* Propriété 01 : */
        background: linear-gradient(to top, $light-brown-menu02 0%, $light-brown-menu02 4px, transparent 5px) no-repeat;
        /* Propriété 02 : 
     * background-size : XX largeur XX hauteur;
     * background-size GAIT DISPARAITRE le background linear-gradient */
        background-size: 0 100%;
        /* Etape 04 : */
        transition: background-size .7s;

        &:hover {
            background-size: 100% 100%;
        }
    }

    .bord-right {
        border-left: 160px solid $light-brown-menu02;

        &:after {
            border-right: 20px solid $light-brown-menu02;
        }
    }
}

.submenu02-menu02 {

    .bord-left {
        border-right: 160px solid $light-purple-menu02;

        &:before {
            border-left: 20px solid $light-purple-menu02;
        }
    }

    h3 {
        padding-left: $padding035;
        padding-right: $padding035;
        color: $light-purple-menu02;
    }

    span {
        /* Propriété 01 : */
        background: linear-gradient(to top, $light-purple-menu02 0%, $light-purple-menu02 4px, transparent 5px) no-repeat;
        /* Propriété 02 : 
     * background-size : XX largeur XX hauteur;
     * background-size GAIT DISPARAITRE le background linear-gradient */
        background-size: 0 100%;
        /* Etape 04 : */
        transition: background-size .7s;

        &:hover {
            background-size: 100% 100%;
        }
    }

    .bord-right {
        border-left: 160px solid $light-purple-menu02;

        &:after {
            border-right: 20px solid $light-purple-menu02;
        }
    }
}

.submenu03-menu02 {

    .bord-left {
        border-right: 160px solid $dark-purple-menu02;

        &:before {
            border-left: 20px solid $dark-purple-menu02;
        }
    }

    h3 {
        padding-left: $padding02;
        padding-right: $padding02;
        color: $dark-purple-menu02;
    }

    span {
        /* Propriété 01 : */
        background: linear-gradient(to top, $dark-purple-menu02 0%, $dark-purple-menu02 4px, transparent 5px) no-repeat;
        /* Propriété 02 : 
     * background-size : XX largeur XX hauteur;
     * background-size GAIT DISPARAITRE le background linear-gradient */
        background-size: 0 100%;
        /* Etape 04 : */
        transition: background-size .7s;

        &:hover {
            background-size: 100% 100%;
        }
    }

    .bord-right {
        border-left: 160px solid $dark-purple-menu02;

        &:after {
            border-right: 20px solid $dark-purple-menu02;
        }
    }
}

/* **************************************************************************
 * div class container > div class menu > div class liste
 ************************************************************************* */
.sub01 {
    color: $light-brown-menu02;
}

.sub02 {
    color: $light-purple-menu02;
}

.sub03 {
    color: $dark-purple-menu02;
}


/* **************************************************************************
 * div class container > div class menu > div class liste > div class repas
 ************************************************************************* */
.repas-menu02 {
    @include repas;
    @include font-capitolina;

    .price-menu02 {
        margin-left: 20px;
    }

}