/* ****************************************************
 * Fichier Menu01-min.scss
 ***************************************************** */
.body-menu01 {
    height: 175vh;
    /* Sur les téléviseurs */
    @media all and (max-width: 1920px) {
        height: 145vh;
    }

    /* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
    @media all and (min-width: 1280px) and (max-width: 1920px) {
        height: 130vh;
    }

    /* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
    @media all and (min-width: 1024px) and (max-width: 1280px) {
        height: 135vh;
    }

    /*Pour tous les Mobiles qui ont une largeur maximale du Périphérique*/
    // media queries Portable
    @media all and (max-width: 1024px) {
        height: 130vh;
    }

    /*Pour tous les Mobiles qui ont une largeur maximale du Périphérique*/
    // media queries Portable
    @media all and (max-width: 650px) {
        height: 145vh;
    }

    /*Pour tous les Mobiles qui ont une largeur maximale du Périphérique*/
    // media queries Portable
    @media all and (max-width: 500px) {
        height: 145vh;
    }

}

.container-menu01 {

    & .menu01 {
        padding: 50px 0px;
        background-color: $bg-color-menu01;

        & .title-menu01 {
            padding-bottom: 20px;

            & i {
                font-size: 60px;
                /* Dégradé color : #f05561 puis #f6916a */
                background: linear-gradient(to right, #f15861, #f78f6a);
                @include background-text;
                padding-bottom: 10px;
            }

            & h2 {
                @include font-ccsignlanguage;
                font-size: 35px;
            }
        }

        & .pied-menu01 {
            padding-top: $padding03;
            @include flex-center;
        }
    }
}


/* ****************************************************
 * Tous les div class="submenu" ( 01, 02 et 03 )
 ***************************************************** */
 .submenu-origin-menu01 {
    width: 600px;
    height: 5px;
    background-color: #000;

    & h3 {
        background-color: $bg-color-menu01;
        font-size: 20px;
        /* font-family: Uberhand Pro Medium __ font-weight: 500 */
        /*font-family: ff-uberhand-pro, sans-serif;
        font-weight: 500;
        font-style: normal; */
        /* font-family: Uberhand Pro Bold __ font-weight: 700 */
        /*font-family: ff-uberhand-pro, sans-serif;
        font-weight: 700;
        font-style: normal; */
        font-family: 'SegoePrint';
        font-weight: bold;
    }

    & span {
        /* Propriété 01 : */
        background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 4px, transparent 5px) no-repeat;
        /* Propriété 02 : 
     * background-size : XX largeur XX hauteur;
     * background-size GAIT DISPARAITRE le background linear-gradient */
        background-size: 0 100%;
        /* Etape 04 : */
        transition: background-size .7s;

        &:hover {
            background-size: 100% 100%;
        }
    }
}

.liste-menu01 {
    padding: 0 60px;
}

.submenu01-menu01 {

    & h3 {
        padding-left: $padding05;
        padding-right: $padding05;
    }

}

.submenu02-menu01 {

    & h3 {
        padding-left: $padding04;
        padding-right: $padding04;
    }

}

.submenu03-menu01 {

    & h3 {
        padding-left: $padding02;
        padding-right: $padding02;
    }

}

/* **************************************************************************
 * div class container > div class menu > div class liste > div class repas
 ************************************************************************* */
.repas {
    
    .name-menu01 {
        margin-left: -10px;
        /* font-family: Shadows Into Light Regular; */
        /*
        font-family: shadows-into-light, wordy-diva, sans-serif;
        font-weight: 500;
        font-style: normal; */
        font-family: 'SegoePrint';
    }

    .price-menu01 {
        margin-right: -10px;
        font-family: 'SegoePrint';
        font-weight: bold;
    }
}

/* *********************************
 * div class pied
 ********************************* */
.pied-menu01 {

    & i {
        background: linear-gradient(to right, #f15861, #f78f6a);
        @include background-text;
        font-size: 50px;
    }

    & h2 {
        margin-left: 10px;
        @include font-ccsignlanguage;
        font-size: 30px;
    }
}