@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../base/reset-body';
@import '../base/typography';
@import '../components/animations';
@import '../layout/footer';
@import '../layout/header';

/* *************************************************
 * Position div class container 
 ************************************************ */
h2 {
    text-align: center;
    /* padding: Haut Gauche Bas Droite */
    padding: 50px 0 20px 0;
}

.little {
    & h2 {
        /* padding: Haut Gauche Bas Droite */
        padding: 50px 0 20px 0;
        @include font-Aktiv-Grotesk-Bold;
    }
}

.container {
    @include flex-center;

    & .menu {
        /* padding: Haut Gauche Bas Droite */
        padding: 20px 25px 150px 25px;
        /*
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 150px;*/
        background-color: $bg-color-menu04;
        font-family: 'SegoePrint';

        & .title {
            text-align: center;
            padding-bottom: 20px;
            background: linear-gradient($degrade-palette-gout);
            @include background-text;
            font-family: 'kaushan_scriptregular';
            font-size: 42px;
        }
    }
}


/* ****************************************************
 * Tous les div class="submenu" ( 01, 02 et 03 )
 ***************************************************** */
 .submenu-origin {
    margin: 32px auto;
    @include flex-center;

    & .bord-left {
        height: 5px;
        background: linear-gradient(to right, $dark-green-menu04, $light-green-menu04);
    }

    & h3 {
        background-color: $bg-color-menu04;
        font-size: 20px;
    }

    & span {
        /* Propriété 02 : 
     * background-size : XX largeur XX hauteur;
     * background-size GAIT DISPARAITRE le background linear-gradient */
        background-size: 0 100%;
        /* Etape 04 : */
        transition: background-size .3s;

        &:hover {
            background-size: 100% 100%;
        }
    }

    & .bord-right {
        height: 5px;
        background: linear-gradient(to left, $dark-green-menu04, $light-green-menu04);
    }
}

.submenu01 {

    & .bord-left {
        width: 280px;
    }

    & h3 {
        padding-left: 70px;
        padding-right: 70px;
    }

    & span {
        /* Propriété 01 : */
        background: linear-gradient(to top, $dark-green-menu04 0%, $dark-green-menu04 4px, transparent 5px) no-repeat;
    }

    & .bord-right {
        width: 280px;
    }
}

.submenu02 {

    & .bord-left {
        width: 270px;
    }

    & h3 {
        padding-left: $padding02;
        padding-right: $padding02;
    }

    & span {
        /* Propriété 01 : */
        background: linear-gradient(to top, $middle-green-menu04 0%, $middle-green-menu04 4px, transparent 5px) no-repeat;
    }

    & .bord-right {
        width: 270px;
    }
}

.submenu03 {

    & .bord-left {
        width: 270px;
    }

    & h3 {
        padding-left: 15px;
        padding-right: 15px;
    }

    & span {
        /* Propriété 01 : */
        background: linear-gradient(to top, $light-green-menu04 0%, $light-green-menu04 4px, transparent 5px) no-repeat;
    }

    & .bord-right {
        width: 270px;
    }
}

.liste {
    /* padding: Haut Gauche Bas Droite */
    /* padding: 0px 50px 0px 50px; */
    /* ou */
    /* padding: Haut-Bas  Gauche-Droite */
    padding: 0px 70px;
}

/* **************************************************************************
 * div class container > div class menu > div class liste > div class repas
 ************************************************************************* */
.repas {
    @include repas;

    & .price {
        margin-left: 5px;
        margin-top: -5px;
        font-size: 20px;
        font-weight: bold;
    }
}
