/* ****************************************************
 * Fichier Menu04-min.scss
 ***************************************************** */
 .body-menu04 {
    height: 175vh;
    /* Sur les téléviseurs */
    /* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
    @media all and (min-width: 1280px) and (max-width: 1920px) {
        height: 140vh;
    }

    /* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
    @media all and (min-width: 1024px) and (max-width: 1280px) {
        height: 135vh;
    }

    /*Pour tous les Mobiles qui ont une largeur maximale du Périphérique*/
    // media queries Portable
    @media all and (max-width: 1024px) {
        height: 130vh;
    }

    /*Pour tous les Mobiles qui ont une largeur maximale du Périphérique*/
    // media queries Portable
    @media all and (max-width: 650px) {
        height: 130vh;
    }

    /*Pour tous les Mobiles qui ont une largeur maximale du Périphérique*/
    // media queries Portable
    @media all and (max-width: 500px) {
        height: 130vh;
    }

}

.menu04 {
    background-color: $bg-color-menu04;
    //background-color: red;
    font-family: 'SegoePrint';

    & .title-menu04 {
        padding-bottom: 20px;
        background: linear-gradient($degrade-palette-gout);
        @include background-text;
        font-family: 'kaushan_scriptregular';
        font-size: 42px;
    }
}


/* ****************************************************
 * Tous les div class="submenu" ( 01, 02 et 03 )
 ***************************************************** */
 .submenu-origin-menu04 {
    margin: 32px auto;
    @include flex-center;

    & .bord-left {
        height: 5px;
        background: linear-gradient(to right, $dark-green-menu04, $light-green-menu04);
    }

    & h3 {
        background-color: $bg-color-menu04;
        font-size: 20px;
    }

    & .bord-right {
        height: 5px;
        background: linear-gradient(to left, $dark-green-menu04, $light-green-menu04);
    }
}

.submenu01-menu04 {

    & .bord-left {
        width: 280px;
    }

    & h3 {
        padding-left: 70px;
        padding-right: 70px;
    }

    & span {
        /* Propriété 01 : */
        background: linear-gradient(to top, $dark-green-menu04 0%, $dark-green-menu04 4px, transparent 5px) no-repeat;
        /* Propriété 02 : 
         * background-size : XX largeur XX hauteur;
         * background-size GAIT DISPARAITRE le background linear-gradient */
        background-size: 0 100%;
        /* Etape 04 : */
        transition: background-size .7s;

        &:hover {
            background-size: 100% 100%;
        }
    }

    & .bord-right {
        width: 280px;
    }
}

.submenu02-menu04 {

    & .bord-left {
        width: 270px;
    }

    & h3 {
        padding-left: $padding02;
        padding-right: $padding02;
    }

    & span {
        /* Propriété 01 : */
        background: linear-gradient(to top, $middle-green-menu04 0%, $middle-green-menu04 4px, transparent 5px) no-repeat;
        /* Propriété 02 : 
         * background-size : XX largeur XX hauteur;
         * background-size GAIT DISPARAITRE le background linear-gradient */
        background-size: 0 100%;
        /* Etape 04 : */
        transition: background-size .7s;

        &:hover {
            background-size: 100% 100%;
        }
    }

    & .bord-right {
        width: 270px;
    }
}

.submenu03-menu04 {

    & .bord-left {
        width: 270px;
    }

    & h3 {
        padding-left: 15px;
        padding-right: 15px;
    }

    & span {
        /* Propriété 01 : */
        background: linear-gradient(to top, $light-green-menu04 0%, $light-green-menu04 4px, transparent 5px) no-repeat;
        /* Propriété 02 : 
         * background-size : XX largeur XX hauteur;
         * background-size GAIT DISPARAITRE le background linear-gradient */
        background-size: 0 100%;
        /* Etape 04 : */
        transition: background-size .7s;

        &:hover {
            background-size: 100% 100%;
        }
    }

    & .bord-right {
        width: 270px;
    }
}


/* **************************************************************************
 * div class container > div class menu > div class liste > div class repas
 ************************************************************************* */
 .repas {

    & .price-menu04 {
        margin-left: 5px;
        margin-top: -5px;
        font-size: 20px;
        font-weight: bold;
    }
}