/* ****************************************************
 * Fichier Menu02-min.scss
 ***************************************************** */
 /* D'après le mentor, dans la generalité des cas,
  Ne pas mettre de propriétés css pour le body
  que ce soit pour fixer width, height ou position (absolute, relative)
  A PART pour mettre de la couleur */
 /*
.body-menu02 {
    height: 175vh;

    @media all and (min-width: 1280px) and (max-width: 1920px) {
        height: 120vh;
    }

    @media all and (min-width: 1024px) and (max-width: 1280px) {
        height: 120vh;
    }

    @media all and (max-width: 1024px) {
        height: 115vh;
    }

    @media all and (max-width: 650px) {
        height: 130vh;
    }

    @media all and (max-width: 500px) {
        height: 125vh;
    }

} */

.menu02 {
    background-color: $bg-color-menu02;
    margin-bottom: 100px;

    @media all and (max-width: 750px) {
        width: 600px;
    }

    @media all and (max-width: 600px) {
        width: 500px;
    }

    @media all and (max-width: 500px) {
        width: 400px;
    }

    @media all and (max-width: 400px) {
        width: 350px;
    }

    & .title-menu02 {
        padding-bottom: 30px;
        /*background: linear-gradient(to bottom right, #d8852e 30%, #8f5aff 70%); */
        background: linear-gradient($degrade-chic-francaise);
        @include background-text;
        font-family: 'Croissant One', cursive;
        font-size: 22px;

        @media all and (max-width: 750px) {
            padding-bottom: 20px;
        }

        @media all and (max-width: 500px) {
            padding-bottom: 15px;
            font-size: 16px;
        }
    }

}


/* ****************************************************
 * Tous les div class="submenu" ( 01, 02 et 03 )
 ***************************************************** */
.submenu-origin-menu02 {

    & .bord-left {
        width: 0px;
        height: 0px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;

        position: relative;
        right: 15px;

        &:before {
            content: "";
            display: block;
            width: 0px;
            height: 0px;
            position: absolute;
            top: -5px;
            left: 160px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;

            @media all and (max-width: 750px) {
                position: absolute;
                top: -5px;
                left: 130px;
            }

            @media all and (max-width: 500px) {
                position: absolute;
                top: -5px;
                left: 100px;
            }
        }
    }

    & h3 {
        background-color: $bg-color-menu02;
        font-size: 20px;
        @include font-baltica;

        text-align: center;

        @media all and (max-width: 750px) {
            font-size: 18px;
        }

        @media all and (max-width: 500px) {
            font-size: 14px;
        }
    }

    & .bord-right {
        /*
        width: 180px;
        height: 2px;
        background-color: #c67412; */
        width: 0px;
        height: 0px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;

        position: relative;
        left: 15px;

        &:after {
            content: "";
            display: block;
            width: 0px;
            height: 0px;
            position: absolute;
            top: -5px;
            right: 160px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;

            @media all and (max-width: 750px) {
                position: absolute;
                top: -5px;
                right: 130px;
            }

            @media all and (max-width: 500px) {
                position: absolute;
                top: -5px;
                right: 100px;
            }
        }
    }
}

.submenu01-menu02 {

    & .bord-left {
        border-right: 160px solid $light-brown-menu02;

        @media all and (max-width: 750px) {
            border-right: 130px solid $light-brown-menu02;
        }

        @media all and (max-width: 500px) {
            border-right: 100px solid $light-brown-menu02;
        }

        &:before {
            border-left: 20px solid $light-brown-menu02;
        }
    }

    & h3 {
        padding-left: $padding01;
        padding-right: $padding01;
        color: $light-brown-menu02;
    }

    & span {
        /* Propriété 01 : */
        background: linear-gradient(to top, $light-brown-menu02 0%, $light-brown-menu02 4px, transparent 5px) no-repeat;
        /* Propriété 02 : 
     * background-size : XX largeur XX hauteur;
     * background-size GAIT DISPARAITRE le background linear-gradient */
        background-size: 0 100%;
        /* Etape 04 : */
        transition: background-size .7s;

        &:hover {
            background-size: 100% 100%;
        }
    }

    & .bord-right {
        border-left: 160px solid $light-brown-menu02;

        @media all and (max-width: 750px) {
            border-left: 130px solid $light-brown-menu02;
        }

        @media all and (max-width: 500px) {
            border-left: 100px solid $light-brown-menu02;
        }

        &:after {
            border-right: 20px solid $light-brown-menu02;
        }
    }
}

.submenu02-menu02 {

    & .bord-left {
        border-right: 160px solid $light-purple-menu02;

        @media all and (max-width: 750px) {
            border-right: 130px solid $light-purple-menu02;
        }

        @media all and (max-width: 500px) {
            border-right: 100px solid $light-purple-menu02;
        }

        &:before {
            border-left: 20px solid $light-purple-menu02;
        }
    }

    & h3 {
        padding-left: $padding035;
        padding-right: $padding035;
        color: $light-purple-menu02;
    }

    & span {
        /* Propriété 01 : */
        background: linear-gradient(to top, $light-purple-menu02 0%, $light-purple-menu02 4px, transparent 5px) no-repeat;
        /* Propriété 02 : 
     * background-size : XX largeur XX hauteur;
     * background-size GAIT DISPARAITRE le background linear-gradient */
        background-size: 0 100%;
        /* Etape 04 : */
        transition: background-size .7s;

        &:hover {
            background-size: 100% 100%;
        }
    }

    & .bord-right {
        border-left: 160px solid $light-purple-menu02;

        @media all and (max-width: 750px) {
            border-left: 130px solid $light-purple-menu02;
        }

        @media all and (max-width: 500px) {
            border-left: 100px solid $light-purple-menu02;
        }

        &:after {
            border-right: 20px solid $light-purple-menu02;
        }
    }
}

.submenu03-menu02 {

    & .bord-left {
        border-right: 160px solid $dark-purple-menu02;

        @media all and (max-width: 750px) {
            border-right: 130px solid $dark-purple-menu02;
        }

        @media all and (max-width: 500px) {
            border-right: 100px solid $dark-purple-menu02;
        }


        &:before {
            border-left: 20px solid $dark-purple-menu02;
        }
    }

    & h3 {
        padding-left: $padding02;
        padding-right: $padding02;
        color: $dark-purple-menu02;
    }

    & span {
        /* Propriété 01 : */
        background: linear-gradient(to top, $dark-purple-menu02 0%, $dark-purple-menu02 4px, transparent 5px) no-repeat;
        /* Propriété 02 : 
     * background-size : XX largeur XX hauteur;
     * background-size GAIT DISPARAITRE le background linear-gradient */
        background-size: 0 100%;
        /* Etape 04 : */
        transition: background-size .7s;

        &:hover {
            background-size: 100% 100%;
        }
    }

    & .bord-right {
        border-left: 160px solid $dark-purple-menu02;

        @media all and (max-width: 750px) {
            border-left: 130px solid $dark-purple-menu02;
        }

        @media all and (max-width: 500px) {
            border-left: 100px solid $dark-purple-menu02;
        }

        &:after {
            border-right: 20px solid $dark-purple-menu02;
        }
    }
}

/* **************************************************************************
 * div class container > div class menu > div class liste
 ************************************************************************* */
.sub01 {
    color: $light-brown-menu02;
}

.sub02 {
    color: $light-purple-menu02;
}

.sub03 {
    color: $dark-purple-menu02;
}


/* **************************************************************************
 * div class container > div class menu > div class liste > div class repas
 ************************************************************************* */
.repas-menu02 {
    @include repas;
    @include font-capitolina;

    @media all and (max-width: 750px) {
        font-size: 15px;
    }

    @media all and (max-width: 500px) {
        font-size: 12px;
    }

    & .price-menu02 {
        margin-left: 20px;

        @media all and (max-width: 750px) {
            margin-left: 10px;
        }

        @media all and (max-width: 600px) {
            display: flex;
            align-items: flex-end;
        }
    }

}